# ALL REPOSITORIES
# ----------------
# General
.DS_Store
Thumbs.db
*.swp
*.log
*.tmp
*.bak
*~

# Windows
desktop.ini
$RECYCLE.BIN/

# VS Code
.vscode/
*.code-workspace

# JetBrains
.idea/
*.iml

# Java
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Eclipse
.metadata
bin/
local.properties
.settings/
.loadorder
.factorypath
.project
.classpath

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# BlueJ
*.ctxt
*.pkg

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

# Gradle
.gradle/

# Virtual Machine Crash Logs
hs_err_pid*

# Git
*.orig
